[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/vertexpotato/imgui
	branch = docking
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/vertexpotato/spdlog
[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang
	url = https://github.com/vertexpotato/glslang
[submodule "3rdparty/SPIRV-Cross"]
	path = 3rdparty/SPIRV-Cross
	url = https://github.com/vertexpotato/SPIRV-Cross/
[submodule "3rdparty/box2d"]
	path = 3rdparty/box2d
	url = https://github.com/vertexpotato/box2d
